{% extends 'base.html.twig' %}

{% block body %}

    <h1>Mot de passe oublié</h1>

    <div class="container">
    
        {{ form_start(form) }}
            
        {{ form_row(form.email, {
            'label': 'Email'
        }) }}

        <button type="submit" class="btn btn-success">Valider</button>

        {{ form_end(form) }}        

    </div>

{% endblock %}