{% extends 'base.html.twig' %}

{% block body %}

    <h1>Mot de passe oublié</h1>

    {{ form_start(form) }}
    
    {{ form_row(form.email, {
        'label': 'Email'
    }) }}

    {{ form_row(form.password, {
        'label': 'Mot de passe'
    }) }}

    <button type="submit" class="btn btn-success">Réinitialiser le mot de passe</button>

    {{ form_end(form) }}

{% endblock %}