section
{
    margin-top: 20px;
}

#listTricks
{
    width: 100%;
}

.trick-item {
	position: relative;
	height: 15em;
	margin-bottom: 10px;
	
}

.trick-item a {
	color:#000;
}

.trick-item img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}