/* général */
@font-face
{
	font-family:'Superion';
	src:url('../Superion.otf') format('truetype');
}

html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	position: relative;
	display : table;
	width: 100%;
}
footer {
	position: absolute;
	display : table-row;
	bottom: 0;
	width: 100%;
	font-family: 'Superion'
}

section
{
    margin-top: 20px;
}

/* navbar */
#logo
{
	font-family: 'Superion';
}

#logoPicture
{
	margin-right: 10px;
}

.faviconUser{
	color: white;
	font-family: 'Superion';
}

/* Header Home*/
#headerHome
{	
	height: 100vh;
	width: 100%;
	background-image: url('../../images/headerPicture.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;	
}

#headerSlogan
{
	font-family: 'Superion';
	font-size: 80px !important;
	color: white;
	position: absolute;
	right: 10vw;
	top: 50vh;
	
}

#headerSloganResponsive
{
	font-family: 'Superion';
	/* font-size: 80px !important; */
	color: white;
	position: absolute;
	left: 10vw;
	top: 50vh;
}

#arrow {
	position: absolute;
	left: 50vw;
	top: 90vh;
	background-color:white;
	border-radius: 100%;
}

/*Header Show*/
#headerShow
{
	height: 50vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#headerShowSlogan
{
	font-family: 'Superion';
	font-size: 80px !important;
	color: rgb(249, 185, 24);
	position: absolute;
}

/* Index */
#listTricks
{	
	margin-bottom: 30px;
}

.trickPresentation
{
	margin-right: 10px;
	margin-bottom: 30px;
}

.trickInfos
{
	background-color:rgb(30, 163, 198);	
}

.trickPicture 
{
	position: relative;
	height: 15em;	
	background-color: darkgray;
}

.trickPicture img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.trickName
{
	font-family: 'Superion';
	color: rgb(249, 185, 24);
	padding-top: 5px;
}

.trickDate
{
	font-size: small;
	padding-left: 5px;
}

.trickLink
{
	color: white;
}

#loadMoreTricks
{
	color: rgb(30, 163, 198);
	background-color: rgb(249, 185, 24);	
	font-family: 'Superion';
	display: none;
}

/*show*/
.trickMedia {
	position: relative;
    height: 100px;    
    overflow: hidden;	
}

.trickMedia img
{
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.trickMedia iframe
{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
    left: 0;
	background-color: #000;
}

#titleDescription
{
	font-family: 'Superion';
}

.commentMedia
{
	height: 100px;
}

.commentMedia img
{
	object-fit: cover;
	height: 100%;
}

/*Add trick*/
#headerAddTrick
{
	height: 50vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Parcourir";
}

.deleteTrickPicture, .deleteTrickVideo
{
	border: none;
	background-color: #FFFFFF;
}

li
{
	list-style: none;
	margin-bottom: 10px;
}

.img-preview-holder {
	position: relative;
    height: 0;
    padding-bottom: 56.25%;
	background-color: #000;
}

.img-preview {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
}