{% extends 'base.html.twig' %}

{% block body %}
    {# header #}
    <div id="headerHome">            
        <h1 id="headerSlogan">Passion snowboard !</h1>            
        <div id="arrow" class="mx-auto"><a id="loadFirstTricks" class="btn" ><i class="fas fa-arrow-down fa-3x" title="Voir les tricks"></i></a></div>
    </div>

    <section id="main" class="container-fluid">
    </section>
    
    <div class="row">
        <div class="col text-center">
            <button id="loadMoreTricks" class="btn btn-success">Plus de tricks !</button>
        </div>
    </div>   
{% endblock %}